name: "Nix builds"
on:
  push:
     branches: [ master ]
  pull_request: {}
jobs:
  test:
    strategy:
      matrix:
        os:
        - ubuntu-latest
        - macos-latest
        # TODO: - windows-latest
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v2
    - uses: cachix/install-nix-action@v13
    - run: nix-env -iA nix-build-uncached -f nix/
    - uses: cachix/cachix-action@v10
      with:
        name: ic-hs-test
        authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
    # until https://github.com/cachix/cachix-action/issues/86 is fixed:
    - run: cachix watch-store ic-hs-test &

    # run a few targets explicitly, to get easier signal in the CI view
    #- run: nix-build-uncached -A universal-canister
    #- run: nix-build-uncached -A ic-hs
    #- run: nix-build-uncached -A ic-hs-coverage
    #- run: nix-build-uncached -A coverage
    #- run: nix-build-uncached -A check-generated
    - run: nix-build-uncached -A ic-ref-dist
    #- run: nix-build-uncached -A ic-ref-test
    #- run: nix-build-uncached -A ic-hs-shell
    #- run: nix-build-uncached -A check-cabal-freeze
    # now the rest
    #- run: nix-build-uncached
