name: "Nix builds"
on:
  push:
jobs:
  test:
    strategy:
      matrix:
        os:
        - ubuntu-latest
        - macos-latest
        # TODO: - windows-latest
    runs-on: ${{ matrix.os }}
    timeout-minutes: 180
    steps:
    - uses: actions/checkout@v2
    - uses: cachix/install-nix-action@v13
    - uses: cachix/cachix-action@v10
      with:
        name: ic-hs-test
        authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
    # until https://github.com/cachix/cachix-action/issues/86 is fixed:
    - run: cachix watch-store ic-hs-test &

    - run: nix-build -A universal-canister
    - run: nix-build -A ic-hs
    - run: nix-build -A ic-hs-coverage
    - run: nix-build -A coverage
    - run: nix-build -A check-generated
    - run: nix-build -A check-cabal-freeze
    - run: nix-build -A ic-ref-dist
    - run: nix-build -A ic-ref-test
    - run: nix-build -A ic-hs-shell
    # now the rest
    - run: nix-build
