name: "Test and upload"

on:
  push:
     branches: [ master ]
  pull_request:

jobs:
  test:
    strategy:
      matrix:
        os:
        - ubuntu-latest
        - macos-latest
        # TODO: - windows-latest
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v2
    - uses: cachix/install-nix-action@v13
    - run: nix-env -iA nix-build-uncached -f nix/
    - uses: cachix/cachix-action@v10
      with:
        name: ic-hs-test
        authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
    # until https://github.com/cachix/cachix-action/issues/86 is fixed:
    - run: cachix watch-store ic-hs-test &

    # run a few targets explicitly, to get easier signal in the CI view
    - run: nix-build-uncached -A universal-canister
    - run: nix-build-uncached -A ic-hs
    - run: nix-build-uncached -A ic-hs-coverage
    - run: nix-build-uncached -A coverage
    - run: nix-build-uncached -A check-generated
    - run: nix-build-uncached -A ic-ref-dist
    - run: nix-build-uncached -A ic-ref-test
    - run: nix-build-uncached -A ic-hs-shell
    - run: nix-build-uncached -A check-cabal-freeze
    # now the rest
    - run: nix-build-uncached

  release:
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            nix-system: x86_64-linux
          - os: macos-latest
            nix-system: x86_64-darwin
    needs: test
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v2
    - uses: cachix/install-nix-action@v12
    - uses: cachix/cachix-action@v10
      with:
        name: ic-hs-test
        authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
    - run: nix-env -iA nixpkgs.awscli

    - id: get_version
      run: |
        ver="$(grep '^version' ic-hs.cabal | tr -s ' ' | cut -d' ' -f1)"
        echo "::set-output name=version::$ver"

    - id: buildit
      run: |
        out_path="$(nix-build -A ic-ref-dist)"
        echo "::set-output name=out::$out_path"

    - run: |
        gzip -c "${{ steps.buildit.outputs.out }}/bin/ic-ref" > ic-ref.gz

        ref_short="$(echo "$GITHUB_REF" | cut -c1-8)"
        version="${{ steps.get_version.outputs.version }}-$ref_short"

        aws s3 cp ic-ref.gz "s3://dfinity-download/ic-ref/ic-ref-$version-$SYSTEM.gz"
      env:
        SYSTEM: ${{ matrix.nix-system }}
